<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mlframework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0062B4E01EE1755900EB175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0062B4F71EE1755900EB175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0062B5021EE1755900EB175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
